body {
  color: #444 !important;
  font-family: "メイリオ", sans-serif !important;
}

/* ------------ Spacer -------------------*/

.module-spacer--very-small {
  height: 12px;
}
.module-spacer--small {
  height: 18px;
}
.module-spacer--medium {
  height: 25px;
}

/* スマホ */

/* ------------ Section -------------------*/
.c-section-container {
  max-width: 600px;
  min-width: calc(320px - 2rem);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

.c-section-wrapping {
}

.u-text-headline {
  font-size: 1.8rem;
  margin: 0 auto 1rem auto;
  color: red;
  font-family: cursive, sans-serif;
}

.u-text-sub-headline {
  font-size: 1.4rem;
}

.u-logo-img--general {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.p-grid-rows {
  display: flex;
  flex-wrap: wrap;
}

.p-grid-rows--space-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.p-grid-columns {
  display: flex;
  flex-flow: column;
}

/*タブレット*/
@media (min-width: 600px) {
  /* ------------ Spacer -------------------*/
  .module-spacer--very-small {
    height: 12px;
  }
  .module-spacer--small {
    height: 30px;
  }
  .module-spacer--medium {
    height: 45px;
  }
}

/* PC */
@media (min-width: 1280px) {
  .c-section-wrapping {
  }
}
