body {
  color: #444 !important;
  font-family: "メイリオ", sans-serif !important;
  overflow: scroll;
  min-height: 100vh;
  height: auto;
}

/* スマホ */
/* ------------ Spacer -------------------*/

.module-spacer--very-small {
  height: 12px;
}
.module-spacer--small {
  height: 18px;
}
.module-spacer--medium {
  height: 25px;
}

/* ------------ Section -------------------*/
.c-section-container {
  max-width: calc(100% - 2rem);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  padding: 0 1rem;
}

.c-section-wrapping--main {
  background-color: rgb(110, 34, 182);
  min-height: 100vh;
  height: 100%;
  overflow: scroll;
}

/* ------------ utils -------------------*/

.u-text-headline {
  font-size: 1.8rem;
  color: red;
  font-family: cursive, sans-serif;
}

.u-text-headline--variable {
  font-size: 1.4rem;
  color: red;
  font-family: cursive, sans-serif;
}

.u-text-sub-headline {
  font-size: 1.4rem;
}

.u-logo-img--general {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.u-text--center {
  text-align: center;
}

.u-text--left {
  text-align: left;
}

.u-display--none {
  display: none;
}

.center {
  margin: 0 auto;
}

.p-grid-rows {
  display: flex;
}
.p-grid-rows--center {
  display: flex;
  justify-content: center;
}

.p-grid-rows--space-between {
  display: flex;
  justify-content: space-between;
}

.p-grid-rows--evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.p-grid-columns {
  display: flex;
  flex-flow: column;
}

.p-grid-columns--center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.p-media-thumb {
  cursor: pointer;
  position: relative;
  width: 100%;
}

.p-media-thumb::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.p-media-thumb > img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*タブレット*/
@media (min-width: 600px) {
  /* ------------ Spacer -------------------*/
  .module-spacer--very-small {
    height: 12px;
  }
  .module-spacer--small {
    height: 30px;
  }
  .module-spacer--medium {
    height: 45px;
  }
  .u-text-headline--variable {
    font-size: 1.8rem;
    color: red;
    font-family: cursive, sans-serif;
  }
  /* ------------ Section -------------------*/
  .c-section-container {
    max-width: 600px;
  }
}

/* PC */
@media (min-width: 1280px) {
  .c-section-wrapping {
  }
}
